# Modeling

In [10]:
import pdb
import re, numbers
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from functools import partial
import statsmodels.formula.api as sm

# put data into bins: needed for continous data 
#(Really just histogram, but Data is so axis bound graph is not very clear)
def binny(df_series, bins=25):
    bins = np.linspace(df_series.min(), df_series.max(), bins)
    grps = df_series.groupby(np.digitize(df_series, bins))
    return grps.agg(['min', 'max','count'])

In [19]:
# Read Back the Pickled file &
dfo = pd.read_pickle('./cData.pickle')
dfo = dfo[ ~np.isnan(dfo.hammer_price)]; dfo.shape # Anytime Hammer_price is nan Get rid of row
df = dfo[ dfo.hammer_price > 1000]; df.shape  
# or Hammer_price is less than 1000 Not really interesting & we have too much of it & bound to axis
print(binny(dfo.hammer_price))
binny(df.hammer_price)

           min         max   count
1         -1.0   3200000.0  100986
2    3300000.0   6500000.0     183
3    6600000.0   9750000.0      53
4   10000000.0  12000000.0       8
5   13200000.0  15500000.0       9
6   18800000.0  18800000.0       3
7   21250000.0  22000000.0       2
8   24200000.0  26000000.0       3
9   28000000.0  28000000.0       2
10  29500000.0  29500000.0       1
12  36000000.0  36000000.0       2
25  78500000.0  78500000.0       2

           min         max  count
1       1017.0   3200000.0  85600
2    3300000.0   6500000.0    183
3    6600000.0   9750000.0     53
4   10000000.0  12000000.0      8
5   13200000.0  15500000.0      9
6   18800000.0  18800000.0      3
7   21250000.0  22000000.0      2
8   24200000.0  26000000.0      3
9   28000000.0  28000000.0      2
10  29500000.0  29500000.0      1
12  36000000.0  36000000.0      2
25  78500000.0  78500000.0      2

In [12]:
df['USD_hamP'] = df.hammer_price * df.CONVrate
df['USD_Hest'] = df.estimate_high * df.CONVrate
df['USD_Lest'] = df.estimate_low * df.CONVrate
df['USD_DjiP'] = df.USD_hamP / df.DJlevel
df['USD_Dest'] = (df.USD_Hest+df.USD_Lest) / (df.DJlevel*2)
df['USD_estH'] = df.USD_Hest / df.DJlevel

/opt/miniconda3/envs/SPk/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/miniconda3/envs/SPk/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/miniconda3/envs/SPk/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/miniconda3/envs/SPk/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/opt/miniconda3/envs/SPk/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/opt/miniconda3/envs/SPk/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
df_train, df_test = train_test_split(df, test_size=.2)
print(df_train.shape)
print(df_test.shape)

(68694, 24)
(17174, 24)